body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #754d2b; 
  color: #411900;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 1106px;
  height: 667px;
  background-color: #efe4d8; 
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
}
